/* Gallery app - Green Fox MyFirstApp Coding Camp */

body {
   background-image: url("./graphics/bkgd13.jpg");
}
.kontener {
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
}
#kepkontener {
   box-shadow: 0px 8px 10px 0px gray;
   width: 1000px;
   height: 550px;
   margin-top: 30px;
   margin-bottom: 20px;
}
.nagygomb {
   background-color: #d2d2d2;
   height: 550px;
   width: 70px;
   border-style: none;
}
.nagygomb:hover {
   background-color: #b8b8b8;
}
#kephatter {
   background-color: #d6d6d6;
   background-image: url("./graphics/bkgd04.jpg");
   width : 860px;
   height: 550px;
   position: relative;
}
#keptarolo {
   max-width: 860 px;
   height: 550px;
   display: block;
   margin-left: auto;
   margin-right: auto;   
}
#kepszoveg {
   position: absolute;
   bottom: 0;
   left: 0;
   box-sizing: border-box;
   width: 860px;
   padding: 0 20px;
   background: rgba(96, 96, 96, 0.5);
   color: white; 
   opacity: 0.7;
}
#kepszoveg:hover {
   color: cyan;
   opacity: 1;
}
#kepszoveg h4 {
   margin: 8px 0;
   font-family: 'Patua One', cursive;
   font-size: 24px;
   font-weight: 500;
   letter-spacing: 5px;
}
#kepszoveg p {
   margin: 8px 0;
   font-family: 'Baloo Tamma 2', cursive;
   font-size: 14px;
   font-style: italic;
}
#indexkontener {
   background-color: #c0c0c0;
   box-shadow: 0px 8px 10px 0px gray;
   width: 1000px;
   height: 90px;
   margin-top: 20px;
   padding: 0 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: space-around;  
}
.thumbdiv {
   position: relative;
   width: 72px;
   height: 72px;
}
.thumbn {
   position: absolute;
   width: 66px;
   height: 66px;
   border: 3px solid #eeeeee;
   border-radius: 8px;
   box-shadow: 0px 8px 5px 0px #666666;
}
.thumbcim {
   background-color: gray;
   border: 1px solid darkgray;
   border-radius: 5px;
   height: 22px;
   padding: 0 10px;
   color : cyan;
   font-family: 'Baloo Tamma 2', cursive;
   font-size: 16px;
   text-align: center;
   overflow: hidden;
   white-space: nowrap;
   position: absolute;
   top: -25px;
   left: -30%;
   display: none;
}
.thumbdiv:hover .thumbcim {
   display: block;
}